<div class="d-flex flex-column align-items-center justify-content-center">
  <h1>Sobre Nosotros</h1>
  <br>
  <h4>Un vistazo al equipo que compone la página para que conozcas de antemano quienes somos</h4>
</div>
<hr>
<div class="d-flex flex-wrap justify-content-between">
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="150px" class="rounded-circle" src="assets/img/attractive-guy-in-shirt-isolated-on-white-background-1.jpg">
    <div>Carlos Benítez Sánchez</div>
    <div class="form-text">Periodista</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="150px" class="rounded-circle" src="assets/img/portrait-of-beautiful-young-woman-standing-on-grey-wall-1.jpg">
    <div>Sandra Gutiérrez Velázquez</div>
    <div class="form-text">Psicóloga</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="150px" class="rounded-circle" src="assets/img/handsome-successful-businessman-smiling-1.jpg">
    <div>Joaquín Sánchez Garbajosa</div>
    <div class="form-text">Economista</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="150px" class="rounded-circle" src="assets/img/cheerful-middle-aged-woman-with-curly-hair-1.jpg">
    <div>María García Fernández</div>
    <div class="form-text">Socióloga</div>
  </div>
  <div class="d-flex flex-column align-items-center justify-content-center">
    <img width="150px" class="rounded-circle" src="assets/img/confident-young-man-1.jpg">
    <div>Rodrigo Martínez López</div>
    <div class="form-text">Antropólogo</div>
  </div>
</div>

