<form  #formularioRegistroUsuario="ngForm" (ngSubmit)="registrarUsuario(formularioRegistroUsuario)">
  <div class="mb-3">
    <label for="nombre" class="form-label">Nombre</label>
    <input type="text" class="form-control" id="nombre" name="nombre" aria-describedby="nombre" required ngModel>
  </div>
  <div class="mb-3">
    <label for="apellidos" class="form-label">Apellidos</label>
    <input type="text" class="form-control" id="apellidos" name="apellidos" aria-describedby="apellidos" required ngModel>
  </div>
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required ngModel>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" required ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Registrarse</button>
</form>
