<form>
  <div class="mb-3">
    <label for="titulo" class="form-label">Título</label>
    <input type="text" class="form-control" id="titulo" aria-describedby="titulo">
  </div>
  <div class="mb-3">
    <label for="categoria" class="form-label">Categoría</label>
    <select class="col-12" id="categoria">
      <option value="Estudios">Estudios</option>
      <option value="Trabajo">Trabajo</option>
      <option value="Relaciones">Relaciones</option>
      <option value="Salud">Salud</option>
    </select>
  </div>
  <div class="mb-3">
    <label for="consulta" class="form-label">Consulta</label>
    <textarea class="col-12" id="consulta" rows="15"></textarea>
  </div>
  <button type="submit" class="btn btn-primary">Enviar</button>
</form>
