<nav class="navbar navbar-light navbar-expand-lg fixed-top" id="mainNav">
  <div class="container"><a class="navbar-brand" href="index.html"><img width="150px"
                                                                        src="assets/img/logos/logo_transparent.png"></a>
    <button data-bs-toggle="collapse" data-bs-target="#navbarResponsive" class="navbar-toggler"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation"><i
      class="fa fa-bars"></i></button>
    <div class="collapse navbar-collapse" id="navbarResponsiveNoUser" *ngIf="!estaLogueado()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/desarrollo-personal']" [routerLinkActive]="['active']">Desarrollo Personal</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/sobre-nosotros']" [routerLinkActive]="['active']">Sobre Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/login']" [routerLinkActive]="['active']">Iniciar Sesión</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsiveUser" *ngIf="estaLogueado() && esUsuario()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/desarrollo-personal']" [routerLinkActive]="['active']">Desarrollo Personal</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/sobre-nosotros']" [routerLinkActive]="['active']">Sobre Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/configuracion']" [routerLinkActive]="['active']">Configuración</a></li>
        <li class="nav-item"><a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
    </div>
    <div class="collapse navbar-collapse" id="navbarResponsiveAdminUser" *ngIf="estaLogueado() && esAdmin()">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a class="nav-link" [routerLink]="['/']" [routerLinkActive]="['active']">Inicio</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/desarrollo-personal']" [routerLinkActive]="['active']">Desarrollo Personal</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/redactar']" [routerLinkActive]="['active']">Redactar</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/contacto']" [routerLinkActive]="['active']">Contacto</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/sobre-nosotros']" [routerLinkActive]="['active']">Sobre Nosotros</a></li>
        <li class="nav-item"><a class="nav-link" [routerLink]="['/configuracion']" [routerLinkActive]="['active']">Configuración</a></li>
        <li class="nav-item"><a class="nav-link" (click)="cerrarSesion()">Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
<header class="masthead"
        style="background-image:url('../assets/img/love-concept-represented-by-hands-extended-to-each-other.jpg');">
  <div class="overlay"></div>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto position-relative">
        <div class="site-heading">
        </div>
      </div>
    </div>
  </div>
</header>
<div id="cb-cookie-banner" class="alert alert-dark text-center mb-0" role="alert" style="display: block;">
  Este sitio web utiliza cookies para asegurarse de que el usuario tiene la mejor experiencia posible.
  <a href="#" target="blank">Aprender más</a>
  <button type="button" class="btn btn-primary btn-sm ms-3" onclick="window.cb_hideCookieBanner()">
    Acepto
  </button>
</div>
<div class="container">
<router-outlet></router-outlet>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-10 col-lg-8 mx-auto">
        <ul class="list-inline text-center">
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
            class="fa fa-twitter fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
          class="fa fa-instagram fa-stack-1x fa-inverse"></i></span></li>
          <li class="list-inline-item"><span class="fa-stack fa-lg"><i class="fa fa-circle fa-stack-2x"></i><i
            class="fa fa-facebook fa-stack-1x fa-inverse"></i></span></li>
        </ul>
        <p class="text-muted copyright">Copyright © Younghelp 2022</p>
      </div>
    </div>
  </div>
</footer>



