.logo {
  width: 150px;
}

.masthead {
  background-image:url('../assets/img/love-concept-represented-by-hands-extended-to-each-other.jpg');
  height: 200px;
}

.masthead * {
  height: 200px;
}

@media (max-width: 991px) {
  .logo {
    width: 100px;
  }
  .masthead {
    background-image: none;
    height: 100px;
  }
  .masthead * {
    height: 100px;
  }

}
