/* You can add global styles to this file, and also import other style files */
@import "assets/bootstrap/css/bootstrap.min.css";
@import "assets/fonts/font-awesome.min.css";

#cb-cookie-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  border-radius: 0;
  display: none;
}
