<form #formularioInicioSesion="ngForm" (ngSubmit)="iniciarSesion(formularioInicioSesion)">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" aria-describedby="email" required ngModel>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contraseña</label>
    <input type="password" class="form-control" id="password" name="password" required ngModel>
  </div>
  <button type="submit" class="btn btn-primary">Iniciar Sesión</button>
  <div id="formHelp" class="form-text">¿No estás registrado? Puedes registrarte <a [routerLink]="['/registro']" [routerLinkActive]="['active']">aquí</a>.</div>
</form>
